@import 'variables';

/* BASIC */

html {
  font-size: 10px;
}

body {
  font-family: $fontsMont-400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

li {
  list-style: none;
}
