/* COLORS */
$white: #fff;
$black: #000;
$blue: #5680e9;
$blue-dull: #84ceeb;
$blue-cyan: #5ab9ea;
$gray: #c1c8e4;
$purpure: #8860d0;

/* DEVICE-WIDTH */
$desktop: 140rem;
$large-display: 120rem;
$display: 102.4rem;
$tablet-landscape: 96rem;
$tablet-portal: 76.8rem;
$tablet-mini: 64rem;
$tablet: 48rem;
$large-mobile: 36rem;
$mobile: 32rem;
