/* COLORS */
$white: #fff;
$black: #000;
$green: #00887a;
$blue: #5680e9;
$blue-light: #77a6f7;
$blue-dark: #0074e1;
$blue-dull: #84ceeb;
$blue-cyan: #5ab9ea;
$gray-cyan: #c1c8e4;
$gray: #d3e3fc;
$purpure: #8860d0;

/* DEVICE-WIDTH */
$desktop: 140rem;
$large-display: 120rem;
$display: 102.4rem;
$tablet-landscape: 96rem;
$tablet-portal: 76.8rem;
$tablet-mini: 64rem;
$tablet: 48rem;
$large-mobile: 36rem;
$mobile: 32rem;
